* {box-sizing: border-box;}

html, body {height: 100%;
    	margin: 0;
    	padding: 0;
      font-family: Lato, sans-serif;
}

	img{
      max-height: 100%;
      object-fit: cover;
      padding: 10px;
      width: 50%;
}	
.topnav #myLinks {
  display: none;
}
.topnav a {
      color: black;
      display: block;
      text-align: center;
      padding: 20px 0px;
}
.topnav a.icon {
      background: white;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      padding:10px;
}
a {color: #151515;}
.hover:hover {background-color: lightgrey;}
.active {
      background-color: white;
      padding-bottom: 50px;
      color: white;
}
.pic {margin-top: -60px;}

.pics {display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    	  object-fit: cover;}

.flexy {display: flex;
	    	justify-content: center;}

.navbar{display: none;}

.fa-instagram {margin: 0px 20px;}

/* tablet menu*/
@media all and (min-width: 768px) {

.mobile-container {display: none;}

.bg-light {background-color: white!important;}

img {width: 33%;}

.navbar{display: flex;}

.fa-instagram {margin: 0 20px;}

.navbar-brand {display: contents;}

.logoT {      width: 20%;
              margin-left: -61px}

button        {margin-right: -40px;
              background-color: #b6b6b6;
              padding: 10px;
              border-width: 0px;
              color: white;}

/*desktop*/
@media all and (min-width: 1200px) {
  
.bg-light     {background-color: white!important;}

img {width: 20%;}
}