html, body {height: 100%;
			margin: 0;
			padding: 0;}
.item-a-flex{display: none;}
.container {display: grid;}

.row1{		height: 40px;
			background-color: orange;
			margin-bottom: 1px;}

.r1{		margin-top: 5px;
			margin-bottom: 5px;
			background-color:#d3e805;
			height: 110px;}

.blueGrid{	height: 160px;
			background-color:royalblue;
			margin-bottom: 1px;}

.smallGrey{	height: 50px;
			background-color: grey;}

/*tablet menu*/
@media only screen and (min-width: 768px) {
.m1{		margin-right: 1px;}
.i1{		margin-right: 1px;}

.r1{		height: 160px;}	

.blueGrid{	height: 130px;}	

.smallGrey{	display: none;}

.container2{display: flex;}

.mobile{	width: 50%;
			background-color: grey;
			height: 60px;
			margin-bottom: 1px;}
			
.item-a-flex{display: flex;}

.item-a{	width: 50%;
			background-color: grey;
			height: 50px;}

}
/*desktop menu*/
@media only screen and (min-width: 1024px) {
.bgm		{margin-left: 1px;
			margin-right: 1px;}
.m1{		display: none;}
.mobile{	display: none;}
.i1{		display: none;}
.item-a{	display: none;}
.r1{		height: 310px;}

.blueGridFlex{display: flex;}
.blueGrid{	height: 150px;
			width: 100%;}	

.item-a-flex{display: flex;}

.item-b 	{width: 100%;
			height: 144px;
			background-color: grey;}
.ib{		margin-left: 1px;
			margin-right: 1px;}
.itb{		margin-right: 1px;}
						
}