*{margin:0; padding: 0;}
.container{display: flex;
			justify-content: center;
			background-color: midnightblue;
			height: 6em;
			}

.box{background-color: darkred;
	width: 4em;
	margin: 20px 20px;
	text-align: center;
	line-height: 60px;
	color: white;}	