
*{
	margin:0px;
	padding: 0px;
}

.container {
	width:1000px;
	margin: 0 auto;
}

p {
	font-family: 'Roboto', sans-serif;
}

nav {
	background: lightgrey;
	padding: 10px 20px;
	margin-top: 10px;
	display: flex;
}

a:link {
	color: black;
	text-decoration: none;
	font-size: 20px;
}

a:visited{
	color: black;
}
a:hover {
	color: #f5bb7c;
}


h1, h2, h3 {
	font-family: 'Roboto Mono', monospace;
}

.logoMargin {
	margin-right: 500px;
}

.navUl{
	list-style: none;
	display: flex;
}

.liSpace{
	margin: 0px 10px;
	font-family: 'Roboto Mono', monospace;
}

.firstDiv{
	background-color: lightgrey;  			
 	margin-top: 20px;
  	padding: 50px 100px;
  	text-align: center;
 }

.pSpace{
	margin-top: 50px;
}

.pSpace1{
	margin-top: 220px;
}

.pSpace2{
	margin-top: 100px; margin-right: 50px;
}	

.secondDiv{
	background-color: lightgrey;
	margin-top: 50px;
	display: flex;
	padding: 50px 100px;
}

.seconddivDisplay{
	display: block;
}

.thirdDiv{
	background-color: lightgrey;
	display: flex; 
	margin-top: 50px;
	padding: 50px 100px;
}

.thirdDivA{
	margin-left: 30px;
}

.footer{
	background-color: lightgrey;
	margin-top: 50px;
	padding: 50px;
	font-family: 'Roboto Mono', monospace;
}

.footerUl{
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.allRights{
	text-align: center; 
	list-style: none;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
}