html, body {
    height:100%;
    margin:0;
    padding:0;
}

section {
    height: 100vh;
    height: 50vh;
    border: 1px solid black;
}

section.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



section.blocks {
    display: flex;
    flex-direction: row;
}

section.blocks > div {
    flex-grow: 5;
}


.img1{background: url("images/yoda.jpg");
					background-size: cover;
}

.img2{background: url("images/walle.png");
					background-size: cover;
}					
.img3{background: url("images/robo.jpg");
					background-size: cover;
}		

.centered {background: url("images/redland.png");
		  background-size: cover;
}


.rainbow{width: 150px;
  background-color: #343A40;
  border-radius: 4px;  
  color: #fff;
  cursor: pointer;
  padding: 10px 10px;
  margin-top: 10px;
}
.rainbow-1:hover{
   background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
   animation:slidebg 7s linear infinite;
}

.rainbow-2{ background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
   animation:slidebg 4s linear infinite;}

@keyframes slidebg {
  to {
    background-position:60vw;
  }
}
