body {font-family: Lato, sans-serif;}

a{color:  #151515;
  text-decoration: none;}

.navbar-dark .navbar-toggler-icon {background-color: #b6b6b6;}

.bg-dark {background-color: white!important;}
 
.spd{ display: none; }

.sp a {margin-top: 50px;
		display: block;
		text-align: center;}

img {	  max-height: 100%;
		  object-fit: cover;
		  padding: 10px;
		  width: 50%;}

.pics {display: flex;
        flex-direction: row;
        flex-wrap: wrap;
     }


/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.container {padding: 20px;}

 	img {width: 33%;}

	.navbar>.container-fluid {display: none;}

	.bg-dark{display: none;}

	.spd {display: inline;}

	 button{ margin-right: -40px;
	          background-color: #b6b6b6;
	          padding: 10px;
	          border-width: 0px;
	          color: white;}

	.navbar-brand {display: contents;}

	.fa-instagram {margin: 0 20px;}

	 #logoT > img {width: 200px; }

 }

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

	 img {width: 20%;
	 		height: 44vh;}

	 #logoT > img {width: 200px; 
	 				height: 100%;}


 }

