html, body {height: 100%;
			margin: 0;
			padding: 0;
}

				.mainDiv {display: flex;
						 flex-direction: column;
				}



		/* Mobile menu */
				.orange 	{margin: 0 auto;
 							width:100%;					
							height: 100px;
							background-color: #fc9c36;
					
				}

				.green		{margin: 5% auto;
 							width:100%;					
							height: 150px;
							background-color: #d3e805;
							

				}
				.blue		{margin: 1% auto;
 							width:100%;					
							height: 200px;
							background-color: blue;
							
				}

				.grey		{margin: 1% auto;
 							width:100%;					
							height: 100px;
							background-color: grey;
						
				}

							
			/* Tablet menu */
			@media only screen and (min-width: 786px) {		
				.grey		{display: none;
				}
				.tablet4 	{display: flex;
				}
				.div1 		{width:50%;	
							margin: 0.5% 2px;				
							height: 100px;
							background-color: grey;
							
				}
				
				.green		{margin: 5% auto;
 							width:100%;					
							height: 300px;
							background-color: #d3e805;
							
				}
							



			/* Desktop menu */
			@media only screen and (min-width: 1200px) {	

							.mainDiv {display: none;
							}
							.desktopDiv {display: block;
							}

							.orangeD {	
										height: 100px;
										margin: 0 auto;
										width: 50%;
										background-color: #fc9c36;

							}
							.borderRight {border-right: 10px solid white;
							}
							.orangeFlex  {display: flex;
							}
							.greenD  {	margin: 5% auto;
 										width:100%;					
										height: 400px;
										background-color: #d3e805;
							}
							.blueDflex	{display: flex;
							}

							.blueD		{margin: 1% 2px;
			 							width:100%;					
										height: 200px;
										background-color: blue;
							}

							.greyFlex   {display: flex;
							}

							.greyD		{margin: 1% 2px;
			 							width:100%;					
										height: 200px;
										background-color:grey;
						}

				}
