body {
  margin: 0;
  padding: 0;
}

.orange {
  background-color: orange;
  margin-bottom: 2px;
  padding: 20px;
}

.green {
  background-color: green;
  margin-bottom: 2px;
  padding: 120px;
}

.blue {
  background-color: blue;
  margin-bottom: 2px;
  padding: 50px;
}

.grey2 {
  display: none;
}

.grey {
  background-color: lightgrey;
  padding: 20px;
}

/*tablet menu*/
@media screen and (min-width: 768px) {
  .grey {
    display: none;
  }

  .greyGrid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
  }

  .grey2 {
    display: grid;
    background-color: lightgrey;
    padding: 30px;
  }
}
/*desktop menu*/
@media screen and (min-width: 1024px) {
  .orange {
    padding: 40px;
  }

  .orange2 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
  }

  .blueGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 187px;
    column-gap: 10px;
    padding-top: 10px;
  }

  .greyGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 80px;
    row-gap: 15px;
    padding-top: 10px;
  }

  .grey2 {
    padding: 100px;
  }
}